html,
body {
  	height: 100%;
}

body {
	background-color: #3a3a3a;
	font-size: 15px;
/*
    background-image: url("assets/images/bg2.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
*/
}

/* Wrapper for page content to push down footer */
#wrap {
  	min-height: 100%;
 	height: auto;
 	margin: 0 auto -60px;
  	padding: 0 0 60px;
}

.container-fluid {
    padding-right: 0px;
}

@font-face {
    font-family: Ailerons;
    src: url("assets/css/Ailerons-Typeface.woff") format("woff");
}


/*#typewriter{
        font-size: 3em;
		margin-top: 4px;
        font-family: "Ailerons";    
}

#typewriter::after{
    content: "|";
    animation: blink 800ms linear infinite alternate;
    color: #fff;
	font-size: 1.2em !important;  
	margin-left: -5px;      
}

@-webkit-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@-moz-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
*/

.navbar {
	height: 92px;
	border-bottom: 0px solid #ccc;
	background-color: #2a2a2a;
	margin-bottom: 75px;
	padding-right: 30px;
	padding-left: 10px;
}

.navbar-default .navbar-nav>li>a {
    color: #bdbdbd;
    font-family: "Ailerons";
}

.navbar-nav>li>a {
    padding-top: 37px;
    padding-left: 45px;
    font-size: 20px;
}

.navbar-nav>li>a:last-child {
  padding-right: 0;
}

.navbar-default .navbar-brand:hover {
    color: #fca72a;
    background-color: #777;
    transition: all 0.5s ease;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fca72a;
}

#bio-image {
    width: 260px;
    height: 197px;
}

#connect-1:hover, #connect-2:hover, #connect-3:hover {
  opacity: 0.7;
  transition: all 0.5s ease;

}

.gap-right {
	margin-right: 50px;
	width: 300px;
	border-top: 9px solid #fca72a;
}

h2{
  color: #fff; 
  font-family: "Ailerons";
  font-size: 45px;
  margin: 16px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 10em;
  animation: type 3s steps(30, end); 
}

h2:nth-child(2){
  animation: type2 8s steps(30, end);
}

h2 a{
  color: #fca72a;
  font-family: 'Ailerons';
  text-decoration: none;
}

h2 span{
  animation: blink 1s infinite;
  font-size: 50px;

}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}

p, a {
    color: #fff;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
	line-height: 30px;
}

a:hover {
    text-decoration: none;
}

#about-content {
	padding-bottom: 30px;
}

h1 {

}

h3 {
	border-bottom: 2px solid #ddd;
}

h1, h3 {
	padding-bottom: 20px;
	margin-bottom: 20px;
	color: #fca72a;
	font-family: "Ailerons"; 
	border-top: 9px solid #fca72a;
}

.box2 {
	margin-left: 20px;
	margin-top: 15px;
}
#connect-1, #connect-2 {
	margin-right: 14px;
}

#portfolio-header {
	margin-bottom: -20px;
}


/* Set the fixed height of the footer here */
#footer {
	margin-top: 80px;
  height: 60px;
  border-top: 0px solid #fca72a;
  background-color: #fca72a;
}

#footer p {
    color: #b06d0d;
    font-size: 13px;
    margin-top:19px;
}
#copyright-div {
	float: left;
}
#connect-div {
	float: right;
	background-color: #3a3a3a;
	padding: 10px 30px 7px 30px;
}

/* Set portfolio styles here */
/*.cuadro_intro_hover{
    padding: 0px;
	position: relative;
	overflow: hidden;
	height: 200px;
	margin-bottom: 25px;
}
	
.cuadro_intro_hover:hover .caption{
	opacity: 1;
	transform: translateY(-130px);
	-webkit-transform:translateY(-130px);
	-moz-transform:translateY(-130px);
	-ms-transform:translateY(-130px);
	-o-transform:translateY(-130px);
}

.cuadro_intro_hover img{
	z-index: 4;
}
	
.cuadro_intro_hover .caption{
	position: absolute;
	top:150px;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
	width: 100%;
}

.cuadro_intro_hover .blur{
	background-color: rgba(74,170,165,0.7);
	height: 300px;
	z-index: 5;
	position: absolute;
	width: 100%;
}

.cuadro_intro_hover .caption-text{
	z-index: 10;
	color: #fff;
	position: absolute;
	height: 300px;
	text-align: center;
	top:-20px;
	width: 100%;
}

.caption-text p {
	color: #fff;
	line-height: 24px;
	padding-left: 15px;
	padding-right: 15px;
}

.caption-text h3 {
	color: #fff;
	border-bottom: 1px solid #ccc;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 1.3px;
}
*/

.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 48%;
	height: auto;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h4 {
	font-size: 30px;
	word-spacing: -0.15em;
	font-weight: 100;
	text-transform: uppercase;
	font-family: "Ailerons";
}

.grid figure h5 {
	letter-spacing: 2px;
}

.grid figure h4 span {
	font-weight: 800;
}

.grid figure h4,
.grid figure h5,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 3px;
	font-size: 68.5%;
}

/*-----------------*/
/***** Portfolio *****/
/*-----------------*/

figure.effect-portfolio {
	background: #3a3a3a;
}

figure.effect-portfolio figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	content: '';
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(5,2.5,1);
	transform: scale3d(5,2.5,1);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

figure.effect-portfolio:hover figcaption::before {
	opacity: 1.0;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

figure.effect-portfolio h4, figure.effect-portfolio h5 {
	margin-bottom: 8px;
	-webkit-transition: transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}


figure.effect-portfolio:hover h4, figure.effect-portfolio:hover h5 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect-portfolio h6 {
	letter-spacing: 2px;
	position: absolute;
	bottom: 20;
	left: 0;
	padding: 30px;
	width: 100%;
	font-size: 17px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-portfolio:hover h6 {
	opacity: 1.0;
	color: #fff;
	background-color: rgba(252,167,42,1.0);
}

figure.effect-portfolio p a {
	color: #fff;
	font-size: 180%;
	opacity: 0;
	position: relative;
	display: inline-block;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-portfolio p a:first-child {
	-webkit-transform: translate3d(-60px,-60px,0);
	transform: translate3d(-60px,-60px,0);
}

figure.effect-portfolio p a:nth-child(2) {
	-webkit-transform: translate3d(0,60px,0);
	transform: translate3d(0,60px,0);
}

figure.effect-portfolio p a:nth-child(3) {
	-webkit-transform: translate3d(60px,-60px,0);
	transform: translate3d(60px,-60px,0);
}

figure.effect-portfolio:hover p a {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


.btn {
	color: #333;
	border-radius: 0px;
	border: 0px solid #86cb56;
}

.btn-outline-primary:hover {
	color: #ffa423;
}

.btn-primary {
    background-color: #86cb56;
    color: #fff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #ffa423;
    border: 0px solid #204d74;
}

@media screen and (max-width:1199px){

#connect-1, #connect-2 {
	margin-right: 0px;
}
}

@media screen and (max-width:768px){
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color: #f2f2f2;
    position: relative;
    z-index: 10000;
    border: 1px solid #ccc;
    width: 102.5%;
}
}


@media screen and (max-width:440px){

.gap-right {
	width: 100%;
	height: 100%;
}

#connect-1, #connect-2, #connect-3 {
	width: 40px;
	height: 40px;
}

.caption-text h3 {
	font-size: 13px;
	border-bottom: 0px solid #ccc;
	margin-top: 25px;
	font-weight: bold;
	color: #4aaaa5;
}

.caption-text p {
	font-size: 11px;
	color: #272727;
}

.cuadro_intro_hover .blur{
	background-color: rgba(255,255,255,0.7);
}

.btn-outline-primary {
	font-size: 11px;
	color: #000;
}
}

@media screen and (max-width:338px){

.cuadro_intro_hover:hover .caption{
	transform: translateY(-0px);
	-webkit-transform:translateY(0px);
	-moz-transform:translateY(0px);
	-ms-transform:translateY(0px);
	-o-transform:translateY(0px);
}

.cuadro_intro_hover{
	overflow: visible;
}

.cuadro_intro_hover .blur{
	background-color: rgba(255,255,255,0);
}

.caption-text h3 {
	margin-top: 18%;
}

.btn-outline-primary {
	color: #ffa423;
	margin-top: -62px;
	font-size: 12px;
}

.caption-text p {
	display:none;
}
}

@media screen and (max-width:315px){

.caption-text h3 {
	margin-top: 4%;
}

}

@media screen and (max-width:290px){

.caption-text h3 {
	margin-top: -20px;
}

}

@media screen and (max-width:282px){

.navbar {
	height: 133px;
}
}
