body {
  width: 100%;
  margin:  auto;
  background-image: url("../images/whirlpool.png");
}

a {
  text-decoration: none;
  color: #eee;
}

li {
  list-style: none;
  float: left;
  margin-left: 50px;
  margin-top: 20px;
  border-right: solid 1px #ccc;
  padding-right: 40px;
}

li:last-child {
  border-right: none;
  padding-right: 0;
}

.nav {
  float: right;
}

.header {
  width: 100%;
  height: 100px;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 99999;
  border-bottom: 2px solid #ccc;
}

.header .logo {
  float: left;
  font-size: 20px;
  background: #4aaaa5;
  padding: 0 20px;
}

.container, .content {
  width: 960px;
  margin: 0 auto;
}

.content {
  margin-top: 130px;
  min-height: calc(84.2vh - 70px);
}

h1 {
  color: #fff;
}

h2 {
  color: #4aaaa5;
  border-bottom: 2px solid #ddd;
  padding-bottom: 15px;
}

p, a {
  color: #777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

p {
  line-height: 30px;
}

a:hover, a:active {
  color: #4aaaa5;
}

#main-section-content p {
  margin-top: -8px;
}

#main-section-content, #bio-image, #sidebar {
  float: left;
}

#main-section-content, #sidebar {
  background: #fff;
  border: 1px solid #ddd;
  padding-left: 30px;
  padding-right: 30px;
}

#main-section-content {
  width: 590px;
  margin-right: 36px;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

#sidebar {
  width: 210px;
  padding-bottom: 30px;
}

#connect-1:hover, #connect-2:hover, #connect-3:hover {
  opacity: 0.7;
  transition: all 0.5s ease;

}

#sidebar #connect-1, #connect-2 {
  padding-right: 3.5px;
}

#bio-image {
  width: 260px;
  height: 197px;
  margin-right: 20px;
  margin-bottom: 3px;
}

.image-wrapper-left, .image-wrapper-right {
    position: relative;
    width: 166px;
    float: left;
    padding-bottom: 25px;
}

.image-wrapper-left {
  margin-right: 157px;
}

.image-wrapper-left a, .image-wrapper-right a {
  position: absolute;
  text-align: center;
  top: 120px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 266px;
  color: #FFF;
  background: #4aaaa5;
}

.image-wrapper-left a:hover, .image-wrapper-right a:hover {
  background: #3a3a3a;
  color: #eee;
  transition: all 0.5s ease;
}

.footer {
  width: 100%;
  background: #666;
  border-top: 6px solid #4aaaa5;
  text-align: center;
  bottom: 0;
  float: bottom;
  left: 0;
  overflow: hidden;
  height: 50px;
}

.footer p {
  color: #ccc;
  font-size: 11px;
}

input[type=text], select, textarea {
  color: #777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc;
  box-sizing: border-box; 
  margin-top: 6px;
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=submit] {
  background-color: #4aaaa5;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background: #3a3a3a;
  color: #eee;
  transition: all 0.5s ease;
}

label {
  color: #777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

